extends layout.pug

block link
    link(rel="stylesheet", href="common.css")
    link(rel="stylesheet", href="change_page.css")

block main
        form.form
            input.form__input(type="text" value='name')
            textarea.form__textarea(value='description' name="recipe1", cols="80", rows="15")
            .form__button-field
                input.form__button(type="button" value='Отправить')
                a.link.form__button(href='/')
                    input(type="button" value='Закрыть')
