extends layout.pug

mixin recipe(recipe)
    .recipe
        .recipe__text
            h2= recipe.title
            h2(id = recipe.id)
            img(src= recipe.adress, alt= recipe.add).recipe__img
            p= recipe.ind
            h3= recipe.head
            ul
                each item in recipe.items
                    li= item
        .recipe__refer
            p.recipe__button
                a.link.recipe__link(href='/change_page') Редактировать

block link
    link(rel='stylesheet', media="screen", type="text/css", href='common-1.css')
    link(rel='stylesheet', href='main.css')

block main
        each item in recipes
            +recipe(item)
