doctype html
html
    head
        meta(charset='utf-8')
        title recipe
        link(rel="stylesheet", href="change_page.css")
    body
        include header
        section(class='content')
            form(class='content-form')
                input(type="text" value='name')
                br
                textarea(class='content-area' value='description' name="recipe1", cols="80", rows="15")
                br
                input(type="button" value='Отправить' class='content-button')
                a(href='/')
                    input(type="button" value='Закрыть')