doctype html
html
    head
        meta(charset='utf-8')
        title recipe
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Mali:400,700")
        block link
    body
        header.head
            h1.head-brand
                a(href='/') Rogalick
            p.head-slogan This site about best recipe!
        section.content
            block main