extends layout.pug

mixin button
    .content-refer
        p.button
            a(href='/change_page') Редактировать

mixin div
    .content-text

block link
    link(rel="stylesheet", href="main.css")

block main
    section.content
        div.content-for
            .content-text
                h2 Рецепт 1: Рогалики с начинкой из варенья
                img(src='img/nach1.jpg' alt='rogalick first')
                p Приготовьте рогалики с вареньем. Берите для этого блюда любое – яблочное, смородиновое или апельсиновое, но единственное правило состоит в том, чтобы варенье было достаточно густым, иначе начинка вся останется не деке.
                h3 Требуемые ингредиенты:
                ul
                    li Творога  350 гр
                    li Мука 460 грамм
                    li Соды, гашенная лимонным соком – 1 ложка
                    li Сахара 80 грамм
                    li Яичный желток 1 шт.
            +button
        .content-for
            +div
                h2 Рецепт 2: Рогалики с начинкой из мармелада
                img(src='img/nach2.jpg' alt='rogalick second')
                p Достаточно необычными и вместе с тем вкусными получатся рогалики, если вы положите кусочек мармелада в них как начинку. Можете взять слоеный цветной мармелад, тогда десерт получится и вкусным, и красивым.
                h3 Требуемые ингредиенты:
                ul
                    li 420 грамм муки
                    li Дрожжей 1 ст.л
                    li Яичный желток 1 шт. (для смазывания изделий)
                    li Сахарный песок 120 грамм
                    li Молока 220 мл
            +button
        .content-for
            .content-text
                h2 Рецепт 3: Рогалики с начинкой из сгущенки
                img(src='img/nach3.jpg' alt='rogalick third')
                p Если вы решили приготовить рогалики  со сгущенкой, то лучше взять «варенку». Она более густая по консистенции и точно не покинет лакомство во время приготовления.
                h3 Требуемые ингредиенты:
                ul
                    li Муки 460 грамм
                    li Сахара 150 грамм
                    li соль
                    li Сгущенка вареная густая
                    li Дрожжи сухие 1 столовая ложка
            +button
        .content-for
            .content-text
                h2 Рецепт 4: Рогалики с начинкой из яблок
                img(src='img/nach4.jpg')
                p Выпечку можно готовить со свежими фруктами – клубникой, смородиной, сливой. Приготовим рогалики с яблоком. Советуем вам выбирать фрукты сладких сортов.
                h3 Требуемые ингредиенты:
                ul
                    li Муки 450 грамм
                    li Сахара 140 грамм
                    li Воды минеральной 320 мл
                    li Дрожжей 1 ст.л.
                    li 3 яблока
                    li соль, корица, масло растительное
            +button
