extends layout.pug

mixin button
    .content-refer
        p.button
            a(href='/change_page') Редактировать

mixin recipe(ob)
    .content-for
        .content-text
            h2= ob.title
            img(src= ''+ob.adress, alt= ''+ob.add)
            p= ob.ind
            h3= ob.head
            ul
                each item in ob.items
                    li= item
        +button

block link
    link(rel='stylesheet', href='main.css')

block main
        include vars.pug
        +recipe(rec1)
        +recipe(rec2)
        +recipe(rec3)
        +recipe(rec4)
