.body{
    color:#006363;
    font-family: 'Mali', cursive;
}

.body_layout{
    margin-top: 0px;
    padding: 0px 100px;

    padding-top: 0px;

    background-color: bisque;
}

.title{
    flex-direction: row;
    margin:0px auto;

    color:#009999;

    background-color: #FF7300;
}

.head__link{
    color:#009999;
}

.head__slogan{
    margin:auto 50px;

    font-weight: bold;
    font-size:20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_layout{
    flex-direction: column;
    margin:0px 100px;

    background: linear-gradient(to right, bisque, white, bisque);
}

.foot__text{
    font-weight:bold;
}

.foot__image-field{
    margin-left:30px;
}

.link{
    text-decoration: none;
}