

.content-for{
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    width:800px;
}

.content-refer .button{
    margin: 200px 50px;
}

div .button a{
    display: inline-block;
    border:1px solid black;
    width:150px;
    height:40px;
    color:black;
    text-align: center;
    vertical-align: middle;
    background-color: beige;
    margin:auto;
}
