.recipe{
    display:flex;
    flex-direction: row;
    padding-right: 100px;
    padding-left:100px;

    border-bottom: 1px solid black;
}




.recipe__button
{
    margin: 200px 50px;
}

.recipe__link{
    display: inline-block;
    width:150px;
    height:40px;
    margin:auto;

    color:black;
    text-align: center;
    vertical-align: middle;

    background-color: beige;
    border:1px solid black;
}
